@import "../../../assets/styles/setup/variables.scss";

header {
    // height: 15vh;
    // padding: 3rem 0;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // border-bottom: 2px solid  $clr2;
    padding: 10px 0px;
    background-color: $clr3;

    .header-content {
        // grid-column: 2;
        justify-content: space-between;
        
        .logo {
            display: flex;
            align-items: center;
        }
        
        a {
            text-decoration: none;
            color: inherit;
        }
        
        .header-nav {
            // width: 20%;
            display: flex;
            justify-content: space-between;
            .active {
                font-weight: 600;
            }
            :not(:first-child) {
                margin-left: 1rem;
            }
            
            
            .icon {
                width: 45px;
                height: 45px;
                cursor: pointer;
            }
            
        }
    }
}

@media(max-width: $mobile-breakpoint) {
    header{
        padding-bottom: 0px;
    }
}