<div  class="home-page">
    <div *ngIf="user" class="user-card">
        <h2>Hello {{user?.name}}!</h2>
        <div class="card-info">
            <img class="icon" src="../../../assets/imgs/balance-scale-left-solid.svg" alt="">
            <h3>{{user?.coins}} coins</h3>
        </div>
        <div class="card-info">
            <img class="icon" src="../../../assets/imgs/bitcoin-brands.svg" alt="">
            <h3>BTC: {{bitcoinRate$|async}}</h3>
        </div>
        <move-list></move-list>
        <button (click)="onLogout()">Logout</button>
    </div>
    
</div>
<div class="=signup" *ngIf="!user">
    <signup-page></signup-page>
</div>
