.home-page {
    padding: 4rem 0;
    .user-card {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        max-width: 500px;
        box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
        margin: 3rem auto;
        h2 {
            margin-bottom: 4rem;

        }
        .card-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 2rem;
            

            h3 {
                margin-left: 1rem;
                line-height: 1;
                margin: 0;
                margin-left: 1rem;
            }
        }
    }
    .icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .bitcoin-rate {
        
    }
}