@import "../../../assets/styles/setup/typography.scss";
@import "../../../assets/styles/setup/variables.scss";

.transfer-fund {
    // height: 35%;
    // box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    // margin-bottom: 5%;
    // padding: 2rem;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    
    // >* {margin-bottom:  20px;}
    .transfer-form {
        // margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        >* {margin-bottom:  20px;}

        input {
            margin-bottom: 2rem;
            border-radius: 0.25rem;
            padding: 0.75rem;
            font-family: inherit;
            font-size: inherit;
            color: $clr2;
        }
        button {
            // margin-top: 2rem;
            padding: 0.75rem 2rem;
            border-radius: 0.25rem;
            // margin-left: 1rem;
        }
    }
    

}