// Colors
$clr1: #3d3d55;
$clr2: #66668d;
$clr3: #242431;
$clr4: #242431;
$clr5: #F67E7E;
$clr6: #ffffff;


// Breakpoints
$mobile-breakpoint: 480px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1100px;